<div class="row medium">
  <div class="col-sm-8">
    <script type="text/javascript" src="https://cdn.jwplayer.com/players/<%= medium['mediaid'] %>-0YZhgKAk.js"></script>
  </div>
  <div class="col-sm-4">
    <h2><%= medium['title'] %></h2>
    <%= medium['description'] %>
  </div>
</div>