---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: cus_1234",
            "param": "id"
          }
        }
  recorded_at: Wed, 29 Mar 2017 02:30:33 GMT
recorded_with: VCR 3.0.3
