---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19WFj04Pf3BKBRGPPu2tzHME",
          "object": "token",
          "card": {
            "id": "card_19WFj04Pf3BKBRGPtopY7Kpj",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "FpDZIKE73Z8Qd25P",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "customer": null
          },
          "client_ip": "65.33.167.204",
          "created": 1483063350,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 30 Dec 2016 02:02:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=zoe%40connellymann.io&plan=standard&source=tok_19WFj04Pf3BKBRGPPu2tzHME&trial_end=1483747199
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9pvaexiYGbnS1M",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_19WFj04Pf3BKBRGPtopY7Kpj",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9pvaexiYGbnS1M",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2017,
                "fingerprint": "FpDZIKE73Z8Qd25P",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9pvaexiYGbnS1M/cards"
          },
          "created": 1483063351,
          "currency": "usd",
          "default_card": "card_19WFj04Pf3BKBRGPtopY7Kpj",
          "default_source": "card_19WFj04Pf3BKBRGPtopY7Kpj",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "zoe@connellymann.io",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19WFj04Pf3BKBRGPtopY7Kpj",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9pvaexiYGbnS1M",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2017,
                "fingerprint": "FpDZIKE73Z8Qd25P",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9pvaexiYGbnS1M/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9pvaZN3Xpkg69J",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1483063351,
                "current_period_end": 1483747199,
                "current_period_start": 1483063351,
                "customer": "cus_9pvaexiYGbnS1M",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "standard",
                  "object": "plan",
                  "amount": 1395,
                  "created": 1483053699,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Standard",
                  "statement_descriptor": null,
                  "trial_period_days": 7,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1483063351,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1483747199,
                "trial_start": 1483063351
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9pvaexiYGbnS1M/subscriptions"
          }
        }
  recorded_at: Fri, 30 Dec 2016 02:02:31 GMT
recorded_with: VCR 3.0.3
