<div class="account">
  <div class="col-sm-12">
    <h1>Your Account</h1>
  </div>

  <section class="col-sm-6">
    <h2>Your Next Charge</h2>
    <div class="box">
      <span class="date">02/04/2017</span><span class="pull-right price">$13.99</span>
    </div>

    <h2>Your Subscription</h2>
  </section>

  <section class="col-sm-6">
    <h2>Your Account</h2>
  </section>
</div>
