<div class="row">
  <div class="col-sm-12">
    <h2>Users</h2>
    <table class="table table-bordered datatable">
      <thead>
        <tr><th>Name</th><th>Email</th><th>Signed Up</th></tr>
      </thead>
      <tbody>
        <%= render partial: 'user_row', collection: @users %>
      </tbody>
    </table>
  </div>
</div>
