---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_AM1MUQdoF5XPC8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_AM1MUQdoF5XPC8",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1490465337,
          "current_period_end": 1493683199,
          "current_period_start": 1491091199,
          "customer": "cus_AM1M7BGR8ag60w",
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_1A1JJt4Pf3BKBRGPoQWYa2XF",
                "object": "subscription_item",
                "created": 1490465337,
                "plan": {
                  "id": "standard",
                  "object": "plan",
                  "amount": 1395,
                  "created": 1483053699,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Standard",
                  "statement_descriptor": null,
                  "trial_period_days": 7,
                  "statement_description": null
                },
                "quantity": 1
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_AM1MUQdoF5XPC8"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "standard",
            "object": "plan",
            "amount": 1395,
            "created": 1483053699,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Standard",
            "statement_descriptor": null,
            "trial_period_days": 7,
            "statement_description": null
          },
          "quantity": 1,
          "start": 1490465337,
          "status": "active",
          "tax_percent": null,
          "trial_end": 1491091199,
          "trial_start": 1490465337
        }
  recorded_at: Tue, 04 Apr 2017 01:53:15 GMT
recorded_with: VCR 3.0.3
