---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_AM1MkMSrPqCmIG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AM1MkMSrPqCmIG",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AM1MkMSrPqCmIG/cards"
          },
          "created": 1490465323,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "treva@gleason.net",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AM1MkMSrPqCmIG/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AM1MkMSrPqCmIG/subscriptions"
          }
        }
  recorded_at: Tue, 04 Apr 2017 03:33:22 GMT
recorded_with: VCR 3.0.3
