---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_AM1Mq73jKV1Ghq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AM1Mq73jKV1Ghq",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AM1Mq73jKV1Ghq/cards"
          },
          "created": 1490465325,
          "currency": "usd",
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "neva@padberg.org",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AM1Mq73jKV1Ghq/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AM1Mq73jKV1Ghq/subscriptions"
          }
        }
  recorded_at: Tue, 04 Apr 2017 04:02:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_AM1Mq73jKV1Ghq&plan=standard
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_APXxkuyn3pzdJj",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1491278525,
          "current_period_end": 1491883325,
          "current_period_start": 1491278525,
          "customer": "cus_AM1Mq73jKV1Ghq",
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_1A4irp4Pf3BKBRGP78TrrxTO",
                "object": "subscription_item",
                "created": 1491278526,
                "plan": {
                  "id": "standard",
                  "object": "plan",
                  "amount": 1395,
                  "created": 1483053699,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Standard",
                  "statement_descriptor": null,
                  "trial_period_days": 7,
                  "statement_description": null
                },
                "quantity": 1
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_APXxkuyn3pzdJj"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "standard",
            "object": "plan",
            "amount": 1395,
            "created": 1483053699,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Standard",
            "statement_descriptor": null,
            "trial_period_days": 7,
            "statement_description": null
          },
          "quantity": 1,
          "start": 1491278525,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1491883325,
          "trial_start": 1491278525
        }
  recorded_at: Tue, 04 Apr 2017 04:02:06 GMT
[...]
