---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_AIn5Geq031FzUD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AIn5Geq031FzUD",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_19yBVt4Pf3BKBRGP1AQe98ww",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "42534",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AIn5Geq031FzUD",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 2,
                "exp_year": 2018,
                "fingerprint": "FpDZIKE73Z8Qd25P",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AIn5Geq031FzUD/cards"
          },
          "created": 1489720335,
          "currency": "usd",
          "default_card": "card_19yBVt4Pf3BKBRGP1AQe98ww",
          "default_source": "card_19yBVt4Pf3BKBRGP1AQe98ww",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "leonardo@marks.info",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19yBVt4Pf3BKBRGP1AQe98ww",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "42534",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AIn5Geq031FzUD",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 2,
                "exp_year": 2018,
                "fingerprint": "FpDZIKE73Z8Qd25P",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AIn5Geq031FzUD/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AIn5Geq031FzUD/subscriptions"
          }
        }
  recorded_at: Wed, 05 Apr 2017 02:31:27 GMT
[...]
