---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=glenna.thiel%40robelkohler.biz
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_APuk2Rg1xJKvU8",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_APuk2Rg1xJKvU8/cards"
          },
          "created": 1491363317,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "glenna.thiel@robelkohler.biz",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_APuk2Rg1xJKvU8/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_APuk2Rg1xJKvU8/subscriptions"
          }
        }
  recorded_at: Wed, 05 Apr 2017 03:35:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2017&card[cvc]=222
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1A54vR4Pf3BKBRGP1FoA3iYr",
          "object": "token",
          "card": {
            "id": "card_1A54vR4Pf3BKBRGP4dkdveDz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2017,
            "fingerprint": "FpDZIKE73Z8Qd25P",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "customer": null
          },
          "client_ip": "65.33.167.204",
          "created": 1491363317,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 05 Apr 2017 03:35:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_APuk2Rg1xJKvU8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_APuk2Rg1xJKvU8&plan=standard
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_APuk0yoLqOT5I3",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1491363319,
          "current_period_end": 1491968119,
          "current_period_start": 1491363319,
          "customer": "cus_APuk2Rg1xJKvU8",
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_1A54vT4Pf3BKBRGPcskfqLWN",
                "object": "subscription_item",
                "created": 1491363319,
                "plan": {
                  "id": "standard",
                  "object": "plan",
                  "amount": 1395,
                  "created": 1483053699,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Standard",
                  "statement_descriptor": null,
                  "trial_period_days": 7,
                  "statement_description": null
                },
                "quantity": 1
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_APuk0yoLqOT5I3"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "standard",
            "object": "plan",
            "amount": 1395,
            "created": 1483053699,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Standard",
            "statement_descriptor": null,
            "trial_period_days": 7,
            "statement_description": null
          },
          "quantity": 1,
          "start": 1491363319,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1491968119,
          "trial_start": 1491363319
        }
  recorded_at: Wed, 05 Apr 2017 03:35:19 GMT
[...]
