---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_AV8QGNjX4RE1j0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AV8QGNjX4RE1j0",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_1AA89Q4Pf3BKBRGP3eNH9BcK",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "63755",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AV8QGNjX4RE1j0",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 2,
                "exp_year": 2018,
                "fingerprint": "4T6V5R0sArpHESsJ",
                "funding": "credit",
                "last4": "0077",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AV8QGNjX4RE1j0/cards"
          },
          "created": 1492567354,
          "currency": "usd",
          "default_card": "card_1AA89Q4Pf3BKBRGP3eNH9BcK",
          "default_source": "card_1AA89Q4Pf3BKBRGP3eNH9BcK",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "naomie_turcotte@frami.co",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AA89Q4Pf3BKBRGP3eNH9BcK",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "63755",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AV8QGNjX4RE1j0",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 2,
                "exp_year": 2018,
                "fingerprint": "4T6V5R0sArpHESsJ",
                "funding": "credit",
                "last4": "0077",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AV8QGNjX4RE1j0/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_AV8Qtgp2i2g8Bt",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": true,
                "canceled_at": 1492739085,
                "created": 1492567358,
                "current_period_end": 1493172158,
                "current_period_start": 1492567358,
                "customer": "cus_AV8QGNjX4RE1j0",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1AA89S4Pf3BKBRGPhgq6joL7",
                      "object": "subscription_item",
                      "created": 1492567359,
                      "plan": {
                        "id": "standard",
                        "object": "plan",
                        "amount": 1395,
                        "created": 1483053699,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Standard",
                        "statement_descriptor": null,
                        "trial_period_days": 7,
                        "statement_description": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_AV8Qtgp2i2g8Bt"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "standard",
                  "object": "plan",
                  "amount": 1395,
                  "created": 1483053699,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Standard",
                  "statement_descriptor": null,
                  "trial_period_days": 7,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1492567358,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1493172158,
                "trial_start": 1492567358
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AV8QGNjX4RE1j0/subscriptions"
          }
        }
  recorded_at: Fri, 21 Apr 2017 01:44:58 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_AV8Qtgp2i2g8Bt
    body:
      encoding: UTF-8
      string: plan=standard
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      str[...]
[...]
