---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_APAdfK1YEMXFiX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_APAdfK1YEMXFiX",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_1A7b9f4Pf3BKBRGP6jmW2Wi5",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_APAdfK1YEMXFiX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2017,
                "fingerprint": "WXQ5U6yXeJE43X6x",
                "funding": "credit",
                "last4": "1881",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_APAdfK1YEMXFiX/cards"
          },
          "created": 1491191768,
          "currency": "usd",
          "default_card": "card_1A7b9f4Pf3BKBRGP6jmW2Wi5",
          "default_source": "card_1A7b9f4Pf3BKBRGP6jmW2Wi5",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ayla_price@schaden.co",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1A7b9f4Pf3BKBRGP6jmW2Wi5",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_APAdfK1YEMXFiX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2017,
                "fingerprint": "WXQ5U6yXeJE43X6x",
                "funding": "credit",
                "last4": "1881",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_APAdfK1YEMXFiX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_APY6ZfWMqk5ZfE",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1491279051,
                "current_period_end": 1494475851,
                "current_period_start": 1491883851,
                "customer": "cus_APAdfK1YEMXFiX",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1A4j0J4Pf3BKBRGPyvQf7Ws9",
                      "object": "subscription_item",
                      "created": 1491279052,
                      "plan": {
                        "id": "standard",
                        "object": "plan",
                        "amount": 1395,
                        "created": 1483053699,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "Standard",
                        "statement_descriptor": null,
                        "trial_period_days": 7,
                        "statement_description": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_APY6ZfWMqk5ZfE"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "standard",
                  "object": "plan",
                  "amount": 1395,
                  "created": 1483053699,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Standard",
                  "statement_descriptor": null,
                  "trial_period_days": 7,
                  "statement_description": null
                },
                "quantity": 1,
                "start": 1491279051,
                "status": "active",
                "tax_percent": null,
                "trial_end": 1491883851,
                "trial_start": 1491279051
              },
              {
                "id": "sub_APY346ZwMfSqJ9",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1491278872,
                "current_period_end": 1494475672,
                "current_period_start": 1491883672,
                "customer": "cus_APAdfK1YEMXFiX",
                "discount": null,
           [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2017&card[cvc]=222
    headers:
      Authorization:
      - Bearer sk_test_uGgeLv9tiR6pziNZhS6G2jGw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1A7bEl4Pf3BKBRGPOagaomFJ",
          "object": "token",
          "card": {
            "id": "card_1A7bEl4Pf3BKBRGPxaaNlYOZ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2017,
            "fingerprint": "FpDZIKE73Z8Qd25P",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "customer": null
          },
          "client_ip": "65.33.167.204",
          "created": 1491964179,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 12 Apr 2017 02:29:40 GMT
[...]
