@import "bootstrap";

$darkgray: #1C1C1C;
$gray: gray;
$lightgray: #D8DDE1;
$primary: #3598A6;
$primary-dark: darken($primary, 10%);

a {
  color: $primary;

  &:hover { color: $primary-dark; }
}


body {
  background-color: $lightgray;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: $darkgray;
  color: $lightgray;
  clear: both;
  padding: 20px 0;
  text-align: center;
}

h1 { margin-bottom: 30px; }

h2 { font-weight: 300 }

header {
  background-color: $darkgray;

  nav {
    .navbar-brand {
      height: 40px;
      margin: 10px 0;
      padding: 0px;

      img { max-height: 40px; }
    }

    .navbar-nav {
      > li, > li.open {
        > a {
          background-color: transparent;
          color: gray;
          padding: 20px 15px;

          &:hover, &:focus {
            background-color: transparent;
            color: white;
          }
        }

        .dropdown-menu { background-color: white }
      }
    }

    .navbar-toggle {
      background-color: gray;
      border-color: white;
      margin: 13px 15px;

      &.collapsed { background-color: transparent; };

      &:hover.collapsed { background-color: gray; }

      .icon-bar { background-color: white; }
    }
  }
}

.account {
  padding: 50px 0;

  section {
    position: relative;

    h2 {
      display: inline-block;
      margin: 0;
    }

    h4 {
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      margin-top: 0px;
    }

    .card {
      background-color: white;
      box-shadow: 0px 2px 4px rgba(0, 2, 4, 0.4);
      margin: 10px 0 50px;
      padding: 10px 30px;

      hr { margin: 30px 0; }

      .date, .price {
        font-size: 20px;
        font-weight: 300;
      }

      .header-link {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        margin-top: 0;
      }

      .inner {
        border-bottom: 1px solid $lightgray;
        padding: 30px 0;

        &:last-of-type { border-bottom: none; }
      }

      .label {
        margin-left: 5px;
      }

      .price {
        color: $primary;
        font-weight: normal;
      }
    }

    .header-link { margin-top: 12px; }
  }
}

.btn { border: none; }

.btn-primary {
  background-color: $primary;

  &:hover, &:focus {
    background-color: $primary-dark;
  }
}

.facebook-button {
  background-color: #3b5998;
  color: white;

  &:active, &:focus, &:hover {
    background-color: darken(#3b5998, 10%);
    color: white;
  }
}

.header-link {
  display: inline-block;
  float: right;
}

.label {
  border-radius: 1em;
  font-weight: 300;
}

.label-primary {
  background-color: $primary;
}

.label-sm {
  font-size: 10px;
  font-weight: 100;
  padding: 3px 10px;
}

.main-content {
  margin-bottom: -60px;
  min-height: 100vh;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
